*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background:#161513;
  color: white;
  font-family: 'outfit'; 

  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

body[data-theme='dark'] {
  background: #161513;
  color: white;
}

body[data-theme='light'] {
  background: #f0f0f0;
  color: #161513;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}