/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base body */
body {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  background: #161513;
  color: white;
  transition: none;
}


/* Make all text inherit theme color */
h1, h2, h3, h4, h5, h6, p, a, span, li, label, button {
  color: inherit;
}

/* Fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
